.header__section {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, 1fr);
  height: 100%;
}

.header__button-container {
  grid-column: span 5;
  grid-row: 2 / span 5;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-100);
}

.button-container__label {
  text-align: center;
  font-size: 5.3rem;
  color: var(--bg-200);
}

.circural-button {
  border: none;
  background-color: rgba(241, 246, 247, 0.15);
  width: 30%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.circural-button:hover,
.circural-button:focus {
  cursor: pointer;
  background-color: rgba(241, 246, 247, 0.3);
}

.circural-button__img {
  width: 6rem;
  aspect-ratio: 1 / 1;
}

.header__title {
  grid-column: 4 / span 6;
  font-size: 8rem;
  font-style: italic;
}

.header__p {
  grid-column: 6 / span 4;
  grid-row: 2 / span 3;
  text-align: end;
  font-size: 2.25rem;
}

/* main */

.lader-section {
  margin-top: 20rem;
  /* background-image: url("../src/images/lader_bg.png");
  background-repeat: no-repeat;
  background-position: center center; */

  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-columns: repeat(13, 1fr);
}

.lader-section__lader {
  width: 0.2rem;
  justify-self: center;
  grid-column: 6 / span 2;
  grid-row: 1 / 25;
  background-color: var(--primary-100);
}

.lader-section__lader-tic {
  width: 60%;
  height: 0.2rem;
  justify-self: center;
  align-self: center;
  background-color: var(--primary-100);
}

.lader-section__project {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.project__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project__title {
  font-size: 4rem;
  font-style: italic;
  font-weight: bold;
}

.project__description,
.project__technology,
.project__title {
  text-align: center;
  color: var(--bg-200);
}

.project__description,
.project__technology {
  font-size: 1.25rem;
}

.project__go-to-button {
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 2px rgba(0, 0, 0, 0.25);
}

.go-to-button__button {
  border: none;
  border-radius: 50%;
  width: 50%;
  background-color: rgba(241, 246, 247, 0.15);
  aspect-ratio: 1 / 1;
}

.go-to-button__button:hover {
  background-color: rgba(241, 246, 247, 0.3);
}

.go-to-button__img {
  width: 50%;
  aspect-ratio: 1 / 1;
}

.lader-section__project--1 {
  grid-column: 10 / span 4;
  grid-row: 1 / span 4;

  background-color: var(--primary-100);
}

.project__go-to-button--1 {
  background-color: var(--secondary-100);
  grid-column: 10 / span 2;
  grid-row: 4 / span 2;
}

.lader-section__project--2 {
  grid-column: 1 / span 4;
  grid-row: 10 / span 4;
  background-color: var(--secondary-100);
}

.project__go-to-button--2 {
  grid-column: 3 / span 2;
  grid-row: 13 / span 2;
  background-color: var(--primary-100);
}

.lader-section__project--3 {
  grid-column: 10 / span 4;
  grid-row: 14 / span 4;
  background-color: var(--secondary-100);
}

.project__go-to-button--3 {
  grid-column: 10 / span 2;
  grid-row: 13 / span 2;
  background-color: var(--primary-100);
}

.lader-section__project--4 {
  grid-column: 1 / span 4;
  grid-row: 17 / span 4;
  background-color: var(--primary-100);
}

.project__go-to-button--4 {
  grid-column: 3 / span 2;
  grid-row: 20 / span 2;
  background-color: var(--secondary-100);
}

.lader-section__project--5 {
  grid-column: 10 / span 4;
  grid-row: 21 / span 4;
  background-color: var(--primary-100);
}

.project__go-to-button--5 {
  grid-column: 9 / span 2;
  grid-row: 21 / span 2;
  background-color: var(--secondary-100);
}

.lader-section__lader-tic--1 {
  grid-column: 7 / span 2;
  grid-row: 3;
}

.lader-section__lader-tic--2 {
  grid-column: 5 / span 2;
  grid-row: 11;
}

.lader-section__lader-tic--3 {
  grid-column: 7 / span 2;
  grid-row: 16;
}

.lader-section__lader-tic--4 {
  grid-column: 5 / span 2;
  grid-row: 18;
}

.lader-section__lader-tic--5 {
  grid-column: 7 / span 2;
  grid-row: 22;
}

.contact-me__section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 30%;
  width: 100%;
}

.contact-me__button-container {
  width: 30%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--secondary-100);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-me__label-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-me__label {
  font-weight: normal;
  font-size: 3.75rem;
  color: var(--bg-200);
  text-align: center;
  text-decoration: underline solid var(--primary-100) 0.3rem;
}

.contact-me__label--colored {
  text-decoration: underline solid var(--bg-200) 0.3rem;
}

.contact-me__colored-container {
  width: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--primary-100);
  text-decoration: underline solid var(--bg-200) 0.3rem;
}

.contact-me__button {
  width: 40%;
  aspect-ratio: 1 / 1;
  border: none;
  background-color: rgba(241, 246, 247, 0.15);
  border-radius: 50%;
}

.contact-me__img {
  width: 60%;
  aspect-ratio: 1 / 1;
}

.contact-me__button:hover {
  background-color: rgba(241, 246, 247, 0.3);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: var(--tiertiary-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__p {
  font-size: 1.3rem;
}
